<!DOCTYPE html>
<html>
<head>
   <title> Python Apriori Lab | Lab Apriori Terkini </title>
</head>
<body>

<h1> Python Apriori Lab | Ahlinya Analisis Data </h1>
<h2> Unggah Berkas Dan Olah Data </h2>
<form action="/upload" method="POST" enctype ="multipart/form-data">
   <label for="file"> Masukkan File dalam Ekstensi CSV </label>
   <input type="file" id="file" name="file" value="Unggah Berkas">
   <br><br>
   <label for="minimum_support"> Masukkan Minimum Support dalam Satuan Persen </label>
   <input type="number" id="minimum_support" name="minimum_support" min="1" max="99">
   <br><br>
   <label for="minimum_confidence"> Masukkan Minimum Confidence dalam Satuan Persen </label>
   <input type="number" id="minimum_confidence" name="minimum_confidence" min="1" max="99">
   <br><br>
   <label for="maximum_columns"> Masukkan Kolom Maksimum </label>
   <input type="number" id="maximum_columns" name="maximum_columns" min="1" max="1000">
   <br><br>
   <label> Pilih Jenis Pengurutan </label> <br><br>
   <input type="radio" name="option" value="True"> Dari Terbesar Hingga Terkecil <br><br>
   <input type="radio" name="option" value="False"> Dari Terkecil Hingga Terbesar <br><br>
   <input type="submit">
   <br>
</form>

</body>
</html>